<section>


    <div class="atitudesContainer">
    {{#each aptitudes.categories as |categorie| }}
        <div>
            <h2>{{ localize (concat "glyphes.aptitudes.categories." @key) }}</h2>
           
        
        {{#each categorie as |aptitude| }}
            {{#if aptitude }}
                <div class="field">
                    
                    <label data-action="aptitudeRoll" data-aptitude="{{ aptitude }}">{{ localize (concat "glyphes.aptitudes." aptitude ".name") }}</label>
                    {{#with (lookup ../../system.aptitudes aptitude ) as |apt| }}
                    <div>
                        
                        {{ fieldOrInput (concat "system.aptitudes." aptitude ".value") class="pj-sheet-input" value=apt.value}}
                    </div>
                    {{/with}}
                </div>
            {{/if}}
        {{/each}}
        </div> 
    {{/each}}

    </div>
</section>