<div>
    
    <div class="field">
        <label>{{localize "glyphes.cards.sacrifice.nbCartesMort"}}</label>
        <input type="number" name="nbMort" min="0" value="{{nbJoueurs}}"/>
    </div>
    

    <button data-action="creerDeck">{{localize "glyphes.cards.sacrifice.creerDeck"}}</button>

    <hr/>

    <button data-action="supprimerDeck">{{localize "glyphes.cards.sacrifice.supprDeck"}}</button>
</div>