<div class="field">
    
        <label>{{localize "glyphes.sheet.item.encombrant"}}</label>
        {{#fieldOrInput "system.isEncombrant" type="boolean" class="pj-sheet-input" }}
            <input type="checkbox" name="system.isEncombrant" {{#if ../system.isEncombrant}}checked="checked"{{/if}}>
        {{/fieldOrInput}}
    
</div>