<div class="field">
    <label>{{localize "glyphes.sheet.common.notes"}}</label>
    <div>
        <textarea name="system.notes" rows="5" class="pj-sheet-input" placeholder="">{{system.notes}}</textarea>
    </div>
</div>