<section>

    {{>prix}}

    {{>encombrant}}
    
    <div class="field">
        <label>{{localize "glyphes.sheet.item.arme.aptitude.titre"}}</label>
        <div>
            {{#fieldOrInput "system.aptitude" class="pj-sheet-input"}}
                <select name="system.aptitude">
                    <option value="">{{localize "glyphes.sheet.item.arme.aptitude.choix"}}</option>
                    {{#each ../lists.aptitudes as |aptitude| }}
                        <option value="{{aptitude}}" {{#if (eq aptitude ../../system.aptitude) }}selected{{/if}}>{{localize (concat "glyphes.aptitudes." aptitude ".name") }}</option>
                    {{/each}}
                </select>
            {{/fieldOrInput}}
        </div>
    </div>



    {{>notes}}
</section>