<section>

    {{>prix}}

    {{>encombrant}}
    
    <div class="field">
        
            <label>{{localize "glyphes.sheet.item.armure.bouclier"}}</label>
            {{#fieldOrInput "system.isBouclier" type="boolean" class="pj-sheet-input" }}
                <input type="checkbox" name="system.isBouclier" {{#if ../system.isBouclier}}checked="checked"{{/if}}>
            {{/fieldOrInput}}
        
    </div>



    {{>notes}}
</section>