<section>

    {{>prix}}

    {{>encombrant}}

    <div class="field">
        <label>{{localize "glyphes.sheet.item.qte"}}</label>
        <div>
            <input type="number" name="system.qte" class="pj-sheet-input" value="{{system.qte}}" min="0">
        </div>
    </div>

    {{>notes}}
</section>