<section>

    <div class="field">
        <label>{{localize "glyphes.sheet.item.glyphe.type"}}</label>
        <div>{{ fieldOrInput "system.type" class="pj-sheet-input" }}</div>
    </div>
    

    {{>notes}}
</section>