

/* toutes fiches */
.glyphes.sheet {
    --font-h2-size: 1.65em;
}

.glyphes.sheet .toggleable {
    display:none;
}

.glyphes.sheet .toggleable.visible {
    display:initial;
}

.glyphes.sheet .lignetab {
    display:flex;
    flex-direction:row;
    justify-content: space-between;
    align-items: center;
}

.glyphes.sheet .lignetab > *{
    flex : 1 1 auto;
}

.glyphes.sheet .lignetab > .action{
    flex : 0 0 auto;
}

.glyphes.sheet h2 {
    display:flex;
    flex-direction: row;

    span {
        flex: 1 0 auto;
    }
    
    span.button{
        flex: 0 0 auto;
        font-size: 1rem;
        border:1px solid white;
        padding: 0.25em 0.5em;
        border-radius: 0.5rem;
        cursor: pointer;
        float:rigth;
    }
}

.glyphes.sheet .flextabs{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 1rem;
    * {
        flex: 1 1 1px;
    }
}



.glyphes.sheet h2 > span.button::before {
    content:"";
    display:inline-block;
    width:1em;
    height:1em;
    background-color:white;
    color:black;
    text-align:center;
    margin-right:0.5rem;
    border-radius: 0.75rem;
}

.glyphes.sheet h2 > span.button.add::before {
    content:"+";
}


/* fiche acteur */

.glyphes.actor-sheet {
    display:flex;
    flex-direction:row;
    min-height: 0;
}

.glyphes.actor-sheet [data-action] {
    cursor: pointer;
}

.glyphes-sheet textarea, .glyphes-dialog textarea {
    width:100%;
}


.glyphes.actor-sheet > .sidebar {
    flex: 0 0 200px;
}


.glyphes.actor-sheet > .content {
    flex: 1 0 200px;
    display:flex;
    flex-direction: column;

}

.glyphes.actor-sheet .topbar {
    height:160px;
    display:flex;
    flex-direction: row;
}

.glyphes.actor-sheet .topbar > .image > img{
    height:150px;
}

.glyphes.actor-sheet .perso > .carac  {
    display:flex;
    flex-direction: row;
}

.glyphes.actor-sheet .perso > .carac > div:nth-child(2) {
    flex: 1 0 350px;
}

.glyphes.actor-sheet .perso > .carac > .sens {
    --color-sens: white;
    color:black;
    width:350px;
    position: relative;
    flex:0 0 350px;
    height:350px;
    margin-right:20px;
}

.glyphes.actor-sheet .perso > .carac > .sens > svg{
    position: absolute;
    top:0;
    left:0;
    width:350px;
    height:350px;
}

.glyphes.actor-sheet .perso > .carac > .sens > div {
    position: absolute;
    text-align:center;
    transform: translate(0, -50%);
}

.glyphes.actor-sheet .perso > .carac > .sens > .senslabel{
    top:50%;
    left: 40%;
    width:21%;
}

.glyphes.actor-sheet .perso > .carac > .sens > .sensvuelabel{
    top:30%;
    left: 40%;
    width:21%;
}

.glyphes.actor-sheet .perso > .carac > .sens > .sensvuevalue{
    top:13%;
    left:45%;
    width:10%;
}

.glyphes.actor-sheet .perso > .carac > .sens > .sensouielabel{
    top:50%;
    left: 14%;
    width:22%;
}

.glyphes.actor-sheet .perso > .carac > .sens > .sensouievalue{
    top:50%;
    left:1%;
    width:10%;
}


.glyphes.actor-sheet .perso > .carac > .sens > .sensinstinctlabel{
    top:50%;
    left: 65%;
    width:20%;
}


.glyphes.actor-sheet .perso > .carac > .sens > .sensinstinctvalue{
    top:50%;
    left:89%;
    width:10%;
}


.glyphes.actor-sheet .perso > .carac > .sens > .sensfluxlabel{
    top:69%;
    left: 40%;
    width:21%;
}

.glyphes.actor-sheet .perso > .carac > .sens > .sensfluxvalue{
    top:87%;
    left: 45%;
    width:10%;
}

.glyphes.actor-sheet .points{
    
    display:inline-block;
    padding: 0.25em;
    border : 1px solid white;
    border-radius:1em;
    margin-bottom: 0.5em;
    margin-left : 2em;
}

.glyphes.actor-sheet .points .ptscontrol{
    display:inline-block;
    width:1.5em;
    height:1.5em;
    background-color: white;
    color:black;
    text-align:center;
    border-radius:0.75em;
    cursor: pointer;
    vertical-align: super;
}

.glyphes.actor-sheet .points .ptscontrol:first-child{
    margin-right:1em;
}

.glyphes.actor-sheet .points .ptscontrol:last-child{
    margin-left:1em;
}

.glyphes.actor-sheet .points .pts span{
    
    mask: url("../assets/pics/sheet/point.svg") no-repeat center / contain;
    -webkit-mask: url("../assets/pics/sheet/point.svg") no-repeat center / contain;
    display:inline-block;
    width:1.5em;
    height:1.5em;
    background-color: white;
}

.glyphes.actor-sheet .points .pts span.active{
    
    background-color: red;
}

.glyphes.actor-sheet .points .pts span.bonus{
    
    background-color: green;
}






.glyphes.actor-sheet > .content > .main {
    min-height:0;
    display:flex;
    flex-direction: column;
}

.glyphes.actor-sheet > .content > .main > .tabscontainer{
    min-height:0;
    display:flex;
    flex-direction: column;
}

.glyphes.actor-sheet > .content > .main > .tabscontainer > section{
    overflow-y: auto;
}


.glyphes.actor-sheet .field{
    flex-wrap: wrap;
    flex: 1 0 100px;
    display:flex;
    margin-top:15px;
}


.glyphes.actor-sheet .field > label{
    flex: 0 0 150px;
    align-content: center;
}


.glyphes.actor-sheet .field > div{
    flex: 1 0 70px;
    align-content: center;
    color: var(--color-light-3);
    display: inline-block;
}

.glyphes.actor-sheet .atitudesContainer {
    display:flex;
    flex-direction:column;
    flex-wrap:wrap;
    height:100%;
}

.glyphes.actor-sheet .atitudesContainer > * {
    border:1px solid white;
    break-inside: avoid; 
    width:195px;
}

.glyphes.actor-sheet .atitudesContainer .field {
    flex:1 0 2.15rem;
}

.glyphes.actor-sheet .atitudesContainer .field > div{
    flex:0 0 30px;
}

.glyphes.actor-sheet .atitudesContainer .field > label{
    flex:0 0 160px;
}

.glyphes.actor-sheet .carac .competences .competence {
    height:2em;
}
.glyphes.actor-sheet .carac .competences .competence .moins, .glyphes.actor-sheet .carac .competences .competence .plus {
    display:inline-block;
    width:1.5em;
    height:1.5em;
    background-color: white;
    cursor: pointer;
    margin-top:0.2em
}

.glyphes.actor-sheet .carac .competences .competence .moins {
    mask: url("../assets/pics/arrow_minus.svg") no-repeat center / contain;
    -webkit-mask: url("../assets/pics/arrow_minus.svg") no-repeat center / contain;
}

.glyphes.actor-sheet .carac .competences .competence .plus {
    mask: url("../assets/pics/arrow_plus.svg") no-repeat center / contain;
    -webkit-mask: url("../assets/pics/arrow_plus.svg") no-repeat center / contain;
}


.glyphes.actor-sheet section.combat .flextabs > div {
    max-width:50%;
}

.glyphes.actor-sheet section.combat .cards {
    
    flex-wrap:wrap;
    gap: 0.5rem;
    --card-width: 110px;
    div {
        flex: 1 0 var(--card-width);
    }
    div > img {
        width: var(--card-width);
    }
}



.diceVal {
  --color-dice: blue;
  height:2em;
}

.diceVal svg {
  width:2em;
  height:2em;
}

.diceVal label{
    width:5em;
    display: inline-block;
    height:2em;
    line-height: 2em;
    vertical-align: top;
}








.glyphes.item-sheet {
    display:flex;
    flex-direction:row;
    min-height: 0;
}


.glyphes.item-sheet > .sidebar {
    flex: 0 0 200px;
}











div.competences > div {
    display:flex;
    flex-direction: row;
}

div.competences > div > * {
    flex-grow:0;
    flex-shrink:0;
}

div.competences > div > label {
    flex:1 0 80px;
}

div.competences > div > span {
    width : 50px;
    margin: 0 10px;
    padding: 0 10px;
    border:1px solid white;

}

.col2 {
    columns: 2;
}



.myflexrow {
    display:flex;
    flex-direction: row;
}