<div class="sheet glyphes actor-sheet">
    
    <div class="content">
        <div class="topbar">
            {{> "topbar" }}
        </div>
        <div class="main">
            {{{tabs.sheet.html}}}
            <div class="pages tabscontainer">
                
            </div>
        </div>
    </div>
</div>