<div class="sheet beryllium pj-sheet">
    <div class="sidebar">
        {{> "systems/beryllium/templates/actor/pj/parts/sidebar.hbs" }}
    </div>
    <div class="content">
        <div class="top">
            {{> "systems/beryllium/templates/actor/pj/parts/topbar.hbs" }}
        </div>
        <div class="main">
            {{{tabs.sheet.html}}}
            <div class="pages tabscontainer">
            </div>
        </div>
    </div>
</div>